@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0C131F;
}

.searchbar {
	position: relative;
	min-width: 300px;
}

.searchbtn {
	position: absolute;
	visibility: hidden;
}

.searchbtn img {
	position: relative;
	right: 97%;
	bottom: 2px;
	max-width: none;
	background-color: #8de8fe;
	visibility: visible !important;
}

.searchbtn img:hover {
	background-color: #40CDF2;
}

.searchbar input {
	width: 100%;
	padding: 0 0 0 1.5rem;
	min-height: 3.5rem;
	color: black;
}

.searchelem :hover {
	background-color: #e5e7eb;
}

.resetbtn {
	position: absolute;
	visibility: hidden;
}

.focus {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(132,139,155,.7);
	backdrop-filter: blur(2px);
}

.batbat {
	position: absolute;
	top: 20px;
	right: 20px;
}
