@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C131F;
}

.searchbar img {
  background-color: #8de8fe;
}

.searchbar img:hover {
  background-color: #40CDF2;
}

.searchbar input {
  width: 99%;
  padding: 0 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  min-height: 3.5rem;
  color: black;
}

.searchbar {
  position: relative;
}

.searchbar button {
  position: fixed;
  width: 56px;
}